---
destinationDir: src/pages/<%= props.pascalCaseName %>
<!--patch:
  path: "src/pages/index.ts"
  append: "export * from \"./<%= props.pascalCaseName %>Page\"\n"
  skip: <%= props.skipIndexFile %>-->
---
import { SxProps, Theme } from '@mui/material';
import { FC } from "react"
import { observer } from "mobx-react-lite"
import { Page } from "../../components"
import { useStores } from "../../stores"

const <%= props.pascalCaseName %>Page = observer(() => {
  // Pull in one of our MST stores
  const rootStore = useStores()

  return (
    <Page title="<%= props.pascalCaseName %>" sx={styles.page}>
      <p><%= props.pascalCaseName %></p>
      <p><%= props.name %></p>
    </Page>
  )
})

const styles: { [key: string]: SxProps<Theme> } = {
  page: {
    flex: 1,
  }
}

<%= props.pascalCaseName %>Page.displayName = '<%= props.pascalCaseName %>_Page';

export default <%= props.pascalCaseName %>Page;